@charset "utf-8";
/* CSS Document */
body{
	margin: 0;
    padding: 0;
	width: 100%;
    background: #FFF;
	font-family: "helvetica";
    font-weight: 400;
<<<<<<< HEAD
    color: #303030;
=======
    color: #575757;
>>>>>>> parent of 9229c41... Modif accessibilité
	text-align: center;
}

a{
	padding: 10px;
<<<<<<< HEAD
	color: #303030;
=======
	color: #575757;
>>>>>>> parent of 9229c41... Modif accessibilité
	text-decoration: none;
}

/* Entête et navigation */
header{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 20px 100px;
}

.header_img{
	height: 40px;
	width: auto;
}

nav{
	display: flex;
}

.scroll{
	margin: 20px;
	position: fixed;
	bottom: 0;
	right: 0;
}
/* Entête et navigation*/

/*Contenu du site*/
article{
	display: flex;
	width: 100%;
	min-height: 300px;
}

.btn, button{
	width: 60px;
	height: 20px;
	padding: 10px 20px;
	border-radius: 15px;
<<<<<<< HEAD
	background: #303030;
=======
	background: #F3976C;
>>>>>>> parent of 9229c41... Modif accessibilité
	text-align: center;
    color: #FFF;
}

.btn:hover, button:hover{
<<<<<<< HEAD
	background: #4c4c4c;
=======
	background: #c27956;
>>>>>>> parent of 9229c41... Modif accessibilité
}

h1{
	font-size: 32px;
<<<<<<< HEAD
	color: #303030;
=======
	color:#F3976C;
>>>>>>> parent of 9229c41... Modif accessibilité
}

h2{
	width: 70%;
	margin-right: auto;
	margin-left: auto;
	padding: 20px 0px;
	
}

p{
	text-align: center;
}

.filtre{
	backdrop-filter: opacity(0.6) sepia(0.3);
}

/*Présentation*/
.presentation{
	display: block;
	background: no-repeat top/100% url("img/la-chouette-agence-banniere.jpg");
	background-size: cover;
	background-attachment: fixed;
	height: 400px;
} 

.presentation div{
	padding-top: 80px;
	height: 320px;
}

.presentation_img{
	width: 120px;
}
/*Présentaion*/

/*Services*/
.services{
	flex-wrap: wrap;
	justify-content: center;
}

.sous_service{
	width: 300px;
	padding: 20px;
}

.icon{
	font-size: 60px;
	color: #364577;
}

/*Services*/

/*Témoignages*/
.temoi{
	justify-content: center;
	align-content: center;
	margin-top: 50px;
}
.temoignage{
	width: 50%;
}
/*Témoignages*/

/*Nos plus*/
.plus{
	display: block;
	padding: 60px 0px;
	background: no-repeat url("img/image-de-presentation.jpg");
	background-size: cover;
}

.plus_carre{
	width: 65%;
	margin: auto;
	padding: 20px;
	background-color: antiquewhite;
}
/*Nos plus*/

/*Réalisations*/
.realisations{
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 30px;
}

.realisations div{
	width: 300px;
	margin: 20px;
}

.rea{
	width: 250px;
}

.lien{
	display: none;
	position: absolute;
	z-index: 100;
	top: 85px;
	right: 105px;
	background-color: #FFF;
	padding: 2px;
	max-width: 38px;
	height: 38px;
	border-radius: 20px;
	font-size: 2em;
	font-weight: bold;
}

.zoom{
	transition: all;
	transition-duration: 1s;
}

.zoom:hover{
	background-color: white;
	transform: scale(1.2);
}

.zoom:hover .rea{
	filter: opacity(0.4);
}

.zoom:hover .lien{
	display: block;
}
/*Réalisations*/

/*Contact*/
.contact{
	width: 100%;
	background: no-repeat url("img/la-chouette-agence-banniere.jpg");
	background-size: cover;
}

.contact div{
	width: 100%;
	padding: 60px 0px;
}

.contact div h2{
<<<<<<< HEAD
	color: #303030; 
=======
	color: #F3976C; 
>>>>>>> parent of 9229c41... Modif accessibilité
}
/*Contact*/
/*Contenu du site*/

/*Footer*/
footer{
	background-color: #F3976C;
	padding: 10px 0px; 
}

.icon_rs{
	margin: 10px 20px;
	font-size: 30px;
<<<<<<< HEAD
	color: #303030;
=======
	color: #575757;
>>>>>>> parent of 9229c41... Modif accessibilité
}
/*Footer*/

/*Page 2*/
/*Formulaire*/
form div {
	margin-top: 1em;
}

label {
	display: inline-block;
	width: 20%;
	padding: 0px 5px; 
	text-align: left;
}

input, textarea { 
	padding: 0px 5px;
	width: 50%;
	max-width: 400px;
	box-sizing: border-box;
	vertical-align: top;
}

textarea{
	height: 5em;
}

button{
	margin: 15px auto;
	width: auto;
	height: auto;
	border: none;
	font-size: 1em;
}

/*Formulaire*/

/*Contact*/
.page2 article{
	display: block;
}

.coordonnees{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.adresse{
	padding: 0px 20px;
}

iframe{
	width: 350px;
	height: 350px;
	border: 2px solid antiquewhite;
}
/*Contact*/
/*Page 2*/ 


/*Média queries pour smartphones*/
@media screen and (max-width: 720px) {
	
	body{
		font-size: 0.8em;
	}
	
	header{
		justify-content: center;
	}
	
/*Page 2 - Contact*/
	iframe{
		width: 100%;
		height: 200px;
}
/*Page 2 - Contact*/
	
}
/*Média queries pour smartphones*/